@page "/categorias"

<div class="d-flex justify-space-between align-center mt-6">
    <div>
        <MudText Typo="Typo.h4" Color="Color.Primary">Categorias</MudText>
        <MudDivider Class="mb-6" />
    </div>
    
    <MudButton Variant="Variant.Filled"
               StartIcon="@Icons.Material.Filled.Add"
               Color="Color.Primary"
               Href="/categoria/create">
        Nova Categoria
    </MudButton>
</div>

@if (_loading)
{
    @* <MudProgressCircular Color="Color.Default" Indeterminate="true" /> *@
    <MudPaper Elevation="2" Class="pa-4">
        @* Simulando o cabeçalho da tabela *@
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="40px" Class="mb-4" Animation="Animation.Wave" />
        
        @* Simulando as linhas de dados *@
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="30px" Class="mb-2" Animation="Animation.Wave" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="30px" Class="mb-2" Animation="Animation.Wave" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="30px" Class="mb-2" Animation="Animation.Wave" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="30px" Animation="Animation.Wave" />
    </MudPaper>
}
else if (categorias == null || !categorias.Any())
{
    <MudAlert Severity="Severity.Info" Dense="true" Class="my-2">Nenhuma categoria encontrada.</MudAlert>
}
else
{
    <MudTable Items="@categorias" Hover="true" Dense="true"
    @bind-RowsPerPage="rowsPerPage">
        <HeaderContent>
            <MudTh>Categoria</MudTh>
            <MudTh>Nome</MudTh>
            <MudTh>Descrição</MudTh>
            <MudTh>Ações</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Categoria">@context.CategoriaId</MudTd>
            <MudTd DataLabel="Nome">@context.Name</MudTd>
            <MudTd DataLabel="Descricao">@context.Descricao</MudTd>
            <MudTd DataLabel="Ações">
                <MudButton Variant="Variant.Text" Color="Color.Primary" Href="@($"/categoria/edit/{context.CategoriaId}")">Editar</MudButton>
                <MudButton Variant="Variant.Text" Color="Color.Error">Deletar</MudButton>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 5, 10, 25 }" 
            RowsPerPageString="Linhas por página:" 
            InfoFormat="{first_item}-{last_item} de {all_items}" />
        </PagerContent>
    </MudTable>
}

@code {
    private int rowsPerPage = 5;
    private bool _loading = false;

    private Categoria[]? categorias;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;
        try
        {
            var resultado = await Http.GetFromJsonAsync<Categoria[]>("/api/categoria");

            if (resultado != null)
            {
                categorias = resultado;
            }
        }

        catch (Exception ex)
        {
            Snackbar.Add("Erro ao carregar categorias. Tente novamente mais tarde.", Severity.Error);
            Console.WriteLine($"Erro ao buscar categorias: {ex.Message}");
        }
        finally
        {
            _loading = false;
        }
    }
}