@page "/categorias"
@using MudBlazorCatalogoNaPratica.Client.Shared

<div class="d-flex justify-space-between align-center mt-6">
    <div>
        <MudText Typo="Typo.h4" Color="Color.Primary">Categorias</MudText>
        <MudDivider Class="mb-6" />
    </div>
    
    <MudButton Variant="Variant.Filled"
               StartIcon="@Icons.Material.Filled.Add"
               Color="Color.Primary"
               Href="/categoria/create">
        Nova Categoria
    </MudButton>
</div>

@if (_loading)
{
    @* <MudProgressCircular Color="Color.Default" Indeterminate="true" /> *@
    <MudPaper Elevation="2" Class="pa-4">
        @* Simulando o cabeçalho da tabela *@
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="40px" Class="mb-4" Animation="Animation.Wave" />
        
        @* Simulando as linhas de dados *@
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="30px" Class="mb-2" Animation="Animation.Wave" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="30px" Class="mb-2" Animation="Animation.Wave" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="30px" Class="mb-2" Animation="Animation.Wave" />
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Height="30px" Animation="Animation.Wave" />
    </MudPaper>
}
else if (categorias == null || !categorias.Any())
{
    <MudAlert Severity="Severity.Info" Dense="true" Class="my-2">Nenhuma categoria encontrada.</MudAlert>
}
else
{
    <MudTable Items="@categorias" Hover="true" Dense="true"
    @bind-RowsPerPage="rowsPerPage">
        <HeaderContent>
            <MudTh>Nome</MudTh>
            <MudTh>Descrição</MudTh>
            <MudTh>Ações</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nome">@context.Name</MudTd>
            <MudTd DataLabel="Descricao">@context.Descricao</MudTd>
            <MudTd DataLabel="Ações">
                <div class="d-flex">
                    <MudTooltip Text="Editar Categoria">
                        <MudIconButton Icon="@Icons.Material.Filled.Edit"
                                       Color="Color.Primary"
                                       Size="Size.Small"
                                       Href="@($"/categoria/edit/{context.CategoriaId}")" />
                    </MudTooltip>
        
                    <MudTooltip Text="Excluir Categoria">
                        <MudIconButton Icon="@Icons.Material.Filled.Delete"
                                       Color="Color.Error"
                                       Size="Size.Small"
                                       OnClick="@(() => DeletarCategoria(context.CategoriaId))" />
                    </MudTooltip>
                </div>
            </MudTd>
        </RowTemplate>
        <PagerContent>
            <Paginacao QuantidadetotalPaginas="QuantidadetotalPaginas" paginaAtual="paginaAtual" Raio="3" PaginaAtualSelecionada="PaginaAtualSelecionada">

            </Paginacao>
        </PagerContent>
    </MudTable>
}

@code {
    private int rowsPerPage = 5;
    private bool _loading = false;

    List<Categoria>? categorias;

    private int paginaAtual = 1;
    private int QuantidadetotalPaginas = 0;


    protected override async Task OnInitializedAsync()
    {
        await CarregarDados(paginaAtual, rowsPerPage);
    }

    private async Task PaginaAtualSelecionada(int pagina)
    {
        paginaAtual = pagina;
        await CarregarDados(paginaAtual, rowsPerPage);
    }

    private async Task CarregarDados(int pagina=1, int quantidadePorPagina=5)
    {
        _loading = true;
        try
        {
            // Busca os dados da API
            //categorias = await Http.GetFromJsonAsync<Categoria[]>("/api/categoria");
            
            var httpResponse = await Http.GetAsync($"/api/categoria?pagina={pagina}&quantidadePorPagina={quantidadePorPagina}");

            if(httpResponse.IsSuccessStatusCode)
            {
                QuantidadetotalPaginas = int.Parse(httpResponse.Headers.GetValues("totalPaginas").FirstOrDefault() ?? "0");

                var resonseString = await httpResponse.Content.ReadAsStringAsync();
                categorias = JsonSerializer.Deserialize<List<Categoria>>(resonseString, 
                    new JsonSerializerOptions 
                    { 
                        PropertyNameCaseInsensitive = true 
                    });
            }

        }
        catch (Exception)
        {
            Snackbar.Add("Erro ao carregar dados", Severity.Error);
        }
        finally
        {
            _loading = false;
        }
    }
    private async Task DeletarCategoria(int categoriaId)
    {
        bool? confirmacao = await DialogService.ShowMessageBoxAsync(
            "Confirmação",
            "Tem certeza que deseja deletar esta categoria?",
            yesText: "Sim",
            noText: "Não");
        if (confirmacao == true)
        {
            var response = await Http.DeleteAsync($"/api/categoria/{categoriaId}");
            
            if (response.IsSuccessStatusCode)
            {
                Snackbar.Add("Deletado!", Severity.Success);
                
                // RECARREGA OS DADOS AQUI
                await CarregarDados();
            }
        }
    }
}